@model IEnumerable<bookshop.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary">
                @*Upsert is combination of update and insert funcionality*@
                <i class="fas fa-plus"></i> Add New Book
            </a>
        </div>
    </div>

    <br /> <br />

    @if (Model.Count() > 0)
    {
        <table id="myTable" class="table table-bordered table-striped" style="width: 100%">

            <thead>
            <th>Title</th>
            <th>Price</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Action</th>
            </thead>

            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="30%">@obj.Title </td>
                        <td width="10%">@obj.Price&euro; </td>
                        <td width="20%">@obj.Author.FullName </td>
                        <td width="20%">@obj.Genre.Name </td>

                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="Upsert" asp-route-Id="@obj.Id" class="btn btn-success mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No book exists...</p>
    }

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}